.css-tlfecz-indicatorContainer{
    display: none!important;
}
.css-xb97g8{
    display: none!important;
}
.css-1rhbuit-multiValue {
    padding-right: 2px;
  
}
.variation-value{
    background-color: rgb(242, 242, 242);
    padding: 10px;
    border-radius: 5px;
    p{
        background-color: rgb(230, 230, 230);
        padding: 1px 5px;
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 4px;


             
    }
    
}

